.coffee-encabezado {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.coffee-Body {
  display: flex;
  justify-content: space-between;
  align-items: flex; 
}

.coffee-table {
  margin-right: 100px; /* Espacio entre la tabla y los detalles */
}

.coffee-table th,
.coffee-table td {
  padding: 15px;
  border-bottom: 1px solid #dddddd;
}

.coffee-table th {
  background-color: #333A40;
  font-weight: bold;
  color: #ffffff;
}

.coffee-table tr:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}

.selected {
  background-color: #e6f7ff;
}

.coffee-details {
  flex-grow: 1; /* Los detalles se expandirán para llenar el espacio restante */
  border: 1px solid #000000;
  text-align: center; /* Centrar los elementos en el detalle */
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: rgba(224, 187, 187, 0.2); /* Color de fondo con opacidad del 20% */
}


.coffee-image {
  max-width: 250px;
}

.Image {
  margin-top: -1%;
  max-width: 100%;
}

.coffee-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  font-family: "Indie Flower", cursive;
  padding-bottom: -10px;
}

.coffee-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.no-coffee-selected {
  visibility: hidden;
}
