.PrincipalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.coffee-encabezado {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.title {
  text-align: left;
  margin-top: 20px;
}

.Image {
  margin-top: 10px;
  max-width: 100%;
}

.LoginPage {
  width: 500px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.LoginForm {
  margin-top: 20px;
}

.login-label {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

.form-group {
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.button-container button {
  flex-grow: 1;
  margin: 0 5px;
}

.btn-primary {
  background-color: green;
  border-color: green;
}

.btn-cancel {
  background-color: red;
  border-color: red;
}
