.PrincipalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.coffee-encabezado {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.title {
  text-align: left;
  margin-top: 20px;
}

.Image {
  margin-top: 20px;
}

.LoginPage {
  width: 500px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.LoginForm {
  margin-top: 20px;
  justify-content: left;
  align-items: left;
}

.login-label {
  font-weight: bold;
  justify-content: left;
  align-items: left;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 20px;
  justify-content: left;
  align-items: left;
}

.button-container {
  margin-top: 20px;
}

.SignUpOffer {
  margin-top: 20px;
  text-align: center;
}
