.coffee-encabezado {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.PrincipalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.title {
  text-align: left;
  margin-top: 20px;
}

.LoginTitle {
  text-align: left;
  margin-bottom:50px;
}

.Image {
  margin-top: 10px;
  max-width: 100%;
}

.LoginPage {
  width: 500px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-label {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

.form-groups {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  border: 1px solid #292929;
  border-radius: 5px;
  padding: 20px;
  background-color: rgba(224, 187, 187, 0.2); /* Color de fondo con opacidad del 20% */
}

.form-group {
  margin-bottom: 20px;
  justify-content: left;
  text-align: left;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.button-container button {
  flex-grow: 1;
  margin: 0 5px;
  padding: 10px;
}

.btn-primary {
  background-color: #8FA98F;
  border-color: #8FA98F;
}

.btn-cancel {
  background-color: #E75D5D;
  border-color: #E75D5D;
}

.error-message {
  color: #E75D5D;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}
